---
import Navigation from '../components/Navigation.astro'
import Main from '../layouts/main.astro'
import HeroSection from '../components/HeroSection.astro'
import { Image } from 'astro:assets';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<Main title="Northstar Telecoms">
			<HeroSection />
			<section class="w-full h-full py-48  text-white">
				<div class="container bg-white/5 px-12 py-16 rounded-sm">
					<div class="grid grid-cols-12 gap-2">
						<div class="col-start-0 col-span-3">
							<div class="flex flex-col justify-between h-[900px]">
								<div>
									<Image src='/public/images/tower.jpg' alt="Hero Image" width={500} height={240} class="w-full h-[220px] object-cover pr-4 rounded-md" />
									<p class="text-sm py-6 text-white/70">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nemo hic eligendi saepe tenetur cumque minus corrupti sequi facere iure?
									</p>
								</div>
								<ul class="text-lg text-highlight">
									<li>Environmental.</li>
									<li>Social.</li>
									<li>Governance.</li>
								</ul>
							</div>
						</div>
						<div class="col-start-5 col-span-8 pr-6">
							<p class="text-5xl leading-none">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos molestiae totam nostrum quia eius temporibus inventore sunt sit aspernatur necessitatibus?
							</p>
							<p class="text-5xl leading-none text-white/50">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos molestiae totam nostrum quia eius temporibus inventore sunt sit aspernatur necessitatibus?
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="text-white py-12">
				<div class="container">
					<div class="grid grid-cols-12 gap-6">
						<div class="col-start-0 col-span-6">
							<Image src='/public/images/tower.jpg' alt="Hero Image" width={800} height={1400} class="w-full object-cover rounded-md" />
						</div>
						<div class="col-start-7 col-span-6 border-gray-100/10 border-l-[1px] pl-4 h-full">
							<div class="flex flex-col gap-24">
								<div>
									<h2 class="text-6xl">
										Green Energy
									</h2>
									<h2 class="text-6xl text-secondary bg-gradient-to-r from-gradient-start via-gradient-end-60 to-gradient-end bg-clip-text text-transparent">
										Solutions
									</h2>
								</div>
								<div class="grid grid-cols-2 gap-6">
									<p class="pr-4">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptates. At non, laudantium corporis dolores hic necessitatibus dolorum dignissimos ut? elit. Minus, voluptates. At non, laudantium corporis dolores hic necessitatibus dolorum dignissimos ut?
									</p>
									<div class="border-l-[1px] border-gray-100/10">
									<p class="pl-4"	>
										shane 	Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptates. At non, laudantium corporis dolores hic necessitatibus dolorum dignissimos ut?
									</p>
								</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>


			<section class="text-white">
				<div class="container py-48 flex  flex-col items-center content-center justify-center">
					<p class="text-sm text-white/50">
						Enhanced Sustainability
					</p>
					<div class="flex items-center py-12">
						<div class="h-[120px] w-[1px] bg-white/30"></div>
					</div>
					<div class="flex flex-col items-center gap-4 content-center justify-center w-2/3 text-center">
						<div>
							<h2 class="text-9xl">Invest</h2>
							<h2 class="text-9xl leading-none ">In <span class="text-secondary bg-gradient-to-r from-gradient-start via-gradient-end-60 to-gradient-end bg-clip-text text-transparent">Future</span></h2>
						</div>
						<p class="w-3/6">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, quibusdam laborum adipisicing.
						</p>
					</div>
				</div>
			</section>

			<section class="text-white">
				<div class="container pb-24">
					<div class="flex gap-4 align-top">
						<!-- Left grid -->
						<div class="grid grid-cols-2 grid-rows-2 gap-4 pt-12">
							<div class="col-start-0 col-span-1 flex flex-col p-4 justify-between h-[330px] bg-white/5 rounded-sm">
								<h2 class="text-3xl">
									Solar PV Parks
								</h2>
								<p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates libero facere cumque sequi porro nam tenetur sed officia? Corporis, rerum.
								</p>
							</div>
							<div class="col-start-2 col-span-1 flex flex-col p-4 justify-between h-[330px] bg-white/5 rounded-sm">
								<h2 class="text-3xl">
									Solar PV Parks
								</h2>
								<p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates libero facere cumque sequi porro nam tenetur sed officia? Corporis, rerum.
								</p>
							</div>
							<div class="col-start-2 col-span-1 flex flex-col p-4 justify-between h-[330px] bg-white/5 rounded-sm">
								<h2 class="text-3xl">
									Solar PV Parks
								</h2>
								<p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates libero facere cumque sequi porro nam tenetur sed officia? Corporis, rerum.
								</p>
							</div>
						</div>
						<!-- div acting as a divider -->
						<div class="flex items-center">
							<div class="h-[1000px] w-[1px] bg-white/30 -translate-y-20"></div>
						</div>
						<!-- Right grid -->
						<div class="grid grid-cols-2 grid-rows-2 gap-4 pt-12">
							<div class="col-start-0 col-span-1 flex flex-col p-4 justify-between h-[330px] bg-gradient-to-r from-gradient-start via-gradient-end-60 to-gradient-end rounded-sm">
								<h2 class="text-3xl">
									Solar PV Parks
								</h2>
								<p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates libero facere cumque sequi porro nam tenetur sed officia? Corporis, rerum.
								</p>
							</div>
							<div class="col-start-2 col-span-1 flex flex-col p-4 justify-between h-[330px] bg-white/5 rounded-sm">
								<h2 class="text-3xl">
									Solar PV Parks
								</h2>
								<p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates libero facere cumque sequi porro nam tenetur sed officia? Corporis, rerum.
								</p>
							</div>
							<div class="col-start-1 col-span-1 flex flex-col p-4 justify-between h-[330px] bg-white/5 rounded-sm">
								<h2 class="text-3xl">
									Solar PV Parks
								</h2>
								<p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates libero facere cumque sequi porro nam tenetur sed officia? Corporis, rerum.
								</p>
							</div>
						</div>
					</div>
					<div class="container flex justify-center">
						<div>
							<button class="py-2 pr-2 pl-6 rounded-full flex gap-4 items-center border-white/30 border-[1px] uppercase">
								<span>About us</span>
								<div class="rounded-full bg-white/40 w-10 h-10 p-2">
									<svg   viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z" fill="#ffffff  "/>
									</svg>
								</div>
							</button>
						</div>
					</div>
				</div>
			</section>
		</Main>
	</body>
</html>
