---
import Main from '../layouts/main.astro'
---


<Main title="Our Services">
    <div class="section h-screen flex items-center content-center justify-center flex-col text-white">
        <div class="container ">
            <h1 class="text-3xl">Services</h1>
        </div>
    </div>
</Main>