<section class="w-full h-screen ">
    <div class="container w-screen text-white">
    <div class="h-screen flex align-bottom items-end">
        <div>
        <div class="grid grid-cols-12 grid-rows-1 gap-1 pb-8 border-b-[1px] border-white/20">
            <div class="col-start-0 col-span-7">
                <h1 class="text-8xl text-secondary bg-gradient-to-r from-gradient-start via-gradient-end-60 to-gradient-end bg-clip-text text-transparent">
                    Making
                </h1>
                <h1 class="text-8xl">
                    Connections
                </h1>
                <h1 class="text-8xl">
                    Beyond limits
                </h1>
            </div>
            <div class="col-start-9 col-span-3 flex flex-col gap-8 justify-end">
                <p class="leading-relaxed text-white/80">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maiores minima odit ipsa ratione.
                </p>
                <div>
                    <button class="py-2 pr-2 pl-6 rounded-full flex gap-4 items-center border-white/30 border-[1px] uppercase">
                        <span>About us</span>
                        <div class="rounded-full bg-white/40 w-10 h-10 p-2">
                            <svg   viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z" fill="#ffffff  "/>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>
            <div class="grid grid-cols-12 grid-rows-1 gap-1 py-6 text-white/50">
                <div class="col-start-0 col-span-3">
                    <small class="">456 Marathon Way, Preston, PR3 3BN</small>
                </div>
                <div class="col-start-9 col-span-3">
                    <small class="">info@Northstar.com</small>
                </div>
                <div class="col-start-12 col-span-2">
                    <small class="text-right">© 2024 Northstar</small>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>